body{
    font-family: 'Gill Sans', 'Gill Sans MT', Helvetica, 'Trebuchet MS', sans-serif;
    background-color: rgb(236, 101, 140);
    font-size: 18px;
}

h1{
    font-family: 'Impact', sans-serif;
    font-size: 80px;
}
